body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #2c2c2c;
    background-color: #2c2c2c;

}

.bg_video {
    display: flex;
    height: 100vh;
    align-items: center;
}

.bg_video>video {
    width: 100%;
}

.img {
    float: left;
    background-repeat: no-repeat;
    width: 100px;
    border-radius: 50%;
}

header {
    width: 100%;
    padding: 60px 4%;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header.rolagem {
    background-color: white;
    padding: 20px 4%;
}

header.rolagem a {
    color: black;
}

header.rolagem img {
    float: left;
    background-repeat: no-repeat;
    width: 100px;
    border-radius: 50%;
}

header ul {
    list-style-type: none;
}

header ul li {
    display: inline-block;
    margin: 0px 40px;
}

header ul li a {
    color: white;
    transition: all 0.2s;
    text-decoration: none;
    font-weight: bold;
}

header ul li a:hover {
    color: green;
    text-decoration: none;
    font-weight: 600;
}

header ul:last-child {
    margin-right: 100px;
}

h2 {
    margin-top: 300px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
    font-size: 30px;
}

.produtos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1200px;
    margin: 0 auto;
    grid-gap: 30px;

}

.produtos img {
    max-width: 100%;
}

.produtos p {
    color: white;
}

.atendimento h3 {
    color: #fff;
    text-align: left;
}

.atendimento p {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 10px;
}

.redesociais h3 {
    color: #fff;
    text-align: center;

}

.redesociais p {
    display: inline;
}

#contato {
    display: flex;
    justify-content: space-around;
    background-color: green;
    margin-top: 100px;
}

#contato a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 10px;
}

h3 {
    color: #fff;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
    font-size: 30px;
}

p {
    color: #fff;
}

.wats {
    font-size: 50px;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 20px;
}

.wats a {
    text-decoration: none;
    color: #fff;
}

.img-categorias img {
    border-radius: 50%;
}

.img-categorias p {
    text-align: center;
    font-weight: bolder;
}

a {
    text-decoration: none;
}

#botao {
    padding: 9px;
    background-color: green;
    color: #fff;
    border-radius: 50px;
    transition: all 0.2s;
}

#botao:hover {
    background-color: darkgreen;
}

.img-produtos {
    text-align: center;
}

.recado {
    margin: 300px auto 0 auto;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.recado a {
    padding: 10px 20px;
    color: white;
    background-color: green;
    border-radius: 50px;
    transition: all 0.2s;
}

.recado a:hover {
    background-color: darkgreen;
}

#cate {
    margin-top: 150px;
}

.menu-mobile {
    background-color: #2c2c2c;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: .5s;
}

.menu-mobile.abrir-menu {
    width: 65%;
}

.menu-mobile.abrir-menu~.overlay-menu {
    display: block;
}

.menu-mobile nav ul {
    text-align: right;
}

.menu-mobile nav ul a {
    color: #fff;
    font-size: 20px;
    font-weight: 300px;
    padding: 20px 10%;
    display: block;

}

.menu-mobile nav ul a:hover {
    color: black;
}

.menu-mobile .btn-fechar {
    padding: 20px 5%;
}

.menu-mobile .btn-fechar i {
    color: #fff;
    font-size: 30px;
}

.btn-abrir-menu i {
    color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    font-size: 200%;
    padding: 40px 5%;
    z-index: 99998;
    transition: .5s;
}

.overlay-menu {
    background-color: rgba(0, 0, 0, 0.705);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8888;
    display: none;
}

.btn-abrir-menu {
    display: none;
}

@media screen and (max-width: 720px) {
    #header ul {
        display: none;
    }

    .produtos {
        flex-direction: column;
        max-width: 300px;
        display: flex;
        align-items: center;
        margin: 0 auto;
        grid-gap: 30px;
    }

    .btn-abrir-menu {
        display: block;
    }

    .bg_video {
        display: block;
    }

    header {
        padding: 25px 4%;
    }

    .img {
        width: 15%;
    }

    header.rolagem img {
        display: flex;
        width: 15%;
    }

    header.rolagem {
        background-color: white;
        padding: 5px 4%;
    }

    header.rolagem #btn-menu i {
        color: black;
        padding: 20px 5%;
        transition: .5s;
    }

    #cate {
        margin-top: -200px;
    }

    #contato {
        display: inline-block;
        width: 100%;
        text-align: center;
    }

    .redesociais p {
        display: none;
    }

    .redesociais i {
        font-size: 300%;
    }

    .atendimento h3 {
        text-align: center;
    }

    .recado p {
        font-size: 70%;
        padding-bottom: 5%;
    }
}
    @media screen and (max-width: 1024px){
        .bg_video{
            display: block;
        }
    }